[% 
   WRAPPER 'shared/head_body.tt'
%]
    <div id="sidebar">
    <p>Classes:</p>
    [% FOREACH class = c.config.classes;
         search_uri = "/search/" _ class.key _ "/squery/_limit/20";
    %]
      <a href="[% c.uri_for(search_uri) %]">[% class.name %]</a><br/>
    [% END %]
    </div>
    [% content %]
    [% USE Dumper %]
    <p>Test is "[% Dumper.dump_html(c.stash.debug) %]"</p>
    <span style="color:red"><pre>[% Dumper.dump_html(c.config) %]</pre></span>
[% END %]
