<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>[% c.config.name _ ' -- ' _ title %]</title>
    <link rel="stylesheet" href="/ui/css/main.css">
    [%
    # the following need to be customizable, particularly the lang
    # pulled from http://www.dynarch.com/projects/calendar/
    %]
    <style type="text/css">@import url("/ui/css/calendar-blue.css");</style>
    <script type="text/javascript" src="/ui/js/calendar.js"></script>
    <script type="text/javascript" src="/ui/js/lang/calendar-en.js"></script>
    <script type="text/javascript" src="/ui/js/calendar-setup.js"></script>
    <script type="text/javascript" src="/ui/js/Kinetic/Search.js"></script>
  </head>
  <body>
    <div id="sidebar">
    <p>Classes:</p>
    [% FOREACH class = c.config.classes;
         search_uri = "/search/" _ class.key _ "/squery/_limit/20";
    %]
      <a href="[% c.uri_for(search_uri) %]">[% class.name %]</a><br/>
    [% END %]
    </div>
    [% content %]
    [% USE Dumper %]
    <span style="color:red"><pre>[% Dumper.dump_html(c.config) %]</pre></span>
  </body>
</html>
