[% 
   WRAPPER shared/main.tt
   title = 'Search' 
%]
  [% USE Renderer %]
  <div class="search">
    <fieldset>
      <legend>[% search_key %]</legend>
      <table>
        [% FOREACH attr = class.attributes %]
        <tr>
          <td>[% attr.name %]</td>
          <td>[% Renderer.render(attr) %]</td>
        </tr>
        [% END %]
      </table>
    </fieldset>
  <div>
[% END %]
