<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>[% c.config.name _ ' -- ' _ title %]</title>
    <link rel="stylesheet" href="/css/main.css">
    [%
    # the following need to be customizable, particularly the lang
    # pulled from http://www.dynarch.com/projects/calendar/
    %]
    <style type="text/css">@import url("/css/calendar-blue.css");</style>
    <script type="text/javascript" src="/js/calendar.js"></script>
    <script type="text/javascript" src="/js/lang/calendar-en.js"></script>
    <script type="text/javascript" src="/js/calendar-setup.js"></script>
  </head>
  <body>
    <div id="sidebar">
    <p>Classes:</p>
    [% FOREACH key = c.config.classes %]
      <a href="/search/[% key %]/">[% key %]</a><br/>
    [% END %]
    </div>
    [% content %]
  </body>
</html>
